service: moonenv-server
frameworkVersion: "3"
configValidationMode: error

plugins:
  - serverless-go-plugin

provider:
  name: aws
  runtime: provided.al2
  architecture: arm64
  stage: ${opt:stage}
  region: ap-southeast-2
  environment:
    S3Bucket: "moonenv-bucket-dev" ## TODO: Make it as build options
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:ListBucket"
          Resource:
            - arn:aws:s3:::${self:provider.environment.S3Bucket}
        - Effect: "Allow"
          Action:
            - "s3:PutObject"
            - "s3:GetObject"
          Resource:
            - arn:aws:s3:::${self:provider.environment.S3Bucket}/*

custom:
  go:
    supportedRuntimes: ['provided.al2']
    buildProvidedRuntimeAsBootstrap: true
    cmd: GOARCH=arm64 GOOS=linux go build -tags lambda.norpc -ldflags="-s -w"

functions:
  - bucketFunc:
      handler: ./endpoints/bucket-s3
      events:
        - http:
            method: GET
            path: listObjects
            cors: true
        - http:
            method: POST
            path: createObject
            cors: true
  - orchestrator:
      handler: ./endpoints/orchestrator
      environment:
        AwsRegion: ${self:provider.region}
        BucketFuncName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bucketFunc
      events:
        - http:
            method: POST
            path: sendPushEnv
            cors: true