service: moonenv-server
frameworkVersion: "3"
configValidationMode: error

provider:
  name: aws
  runtime: provided.al2023
  architecture: arm64
  stage: ${opt:stage}
  region: ap-southeast-2
  environment:
    S3Bucket: "moonenv-bucket-dev" ## TODO: Make it as build options
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "s3:ListBucket"
          Resource:
            - arn:aws:s3:::${self:provider.environment.S3Bucket}
        - Effect: "Allow"
          Action:
            - "s3:PutObject"
            - "s3:GetObject"
          Resource:
            - arn:aws:s3:::${self:provider.environment.S3Bucket}/*

package:
  patterns:
    - "!*/**"
    - "bin/**"
  individually: true

functions:
  - bucketFunc:
      handler: bootstrap
      package:
        artifact: bin/endpoints/bucket-s3/main.zip
      events:
        - http:
            method: GET
            path: listObjects
            cors: true
        - http:
            method: POST
            path: createObject
            cors: true
  - orchestrator:
      handler: bootstrap
      package:
        artifact: bin/endpoints/bucket-s3/main.zip
      environment:
        AwsRegion: ${self:provider.region}
        BucketFuncName: !Sub arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:bucketFunc
      events:
        - http:
            method: POST
            path: sendPushEnv
            cors: true